
:root {
    --pink: #EFAEDE;
    --yellow: #F2F60F;
    --green: #AAD994;
    --purple: #5F2D77;
    --red: #F5302D;
    --blue: #1065A8;
    --olive: #ACAF22;
    --orange: #FF7251;
    --lilac: #EBDFED;
    --shell: #FBF2F2;


    --font-size: 20px;

}


/* FONTS */ 

@font-face {
    font-family: "Avara-Italic";
    src: url("../fonts/Avara-BoldItalic.ttf");
}

@font-face {
    font-family: "Circular-Regular";
    src: url("../fonts/CircularXXTrial-Regular.otf");
}

@font-face {
    font-family: "GTPressura-ExtendedText";
    src: url(../fonts/GT-Pressura-Extended-Text-Trial.otf);
}


@font-face {
    font-family: "GTPressura-MonoRegular";
    src: url(../fonts/GT-Pressura-Mono-Regular-Trial.otf);
}

@font-face {
    font-family: "AtlasGrotesk-Regular";
    src: url(../fonts/AtlasGrotesk-Regular-Cy-Trial.otf);
}



